<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.varchar6.petcast.domain.company.query.">
    <resultMap id="companyCategoryList" type="com.varchar6.petcast.domain.company.query.dto.CategoryDTO">
        <result property="name" column="categoryName"/>
    </resultMap>
    <select id="findCategoriesByCompanyId" resultMap="companyCategoryList" parameterType="string">
        SELECT
               CT.NAME AS categoryName
          FROM TBL_COMPANY CP
         INNER JOIN TBL_COMPANY_CATEGORY CC
            ON (CP.ID = CC.COMPANY_ID)
         INNER JOIN TBL_CATEGORY CT
            ON (CC.CATEGORY_ID = CT.ID)
         WHERE CP.ID = #{ memberId };
    </select>
</mapper>