<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RequestMapper">

    <!-- 요청서 목록 조회 -->
    <select id="findAllRequests" resultType="com.varchar6.petcast.domain.request.quary.repository.RequestMapper">
        SELECT * FROM tbl_request
    </select>

    <!-- 특정 요청서 조회 -->
    <select id="findRequestById" parameterType="long" resultType="com.example.domain.Request">
        SELECT * FROM tbl_request WHERE id = #{id}
    </select>

</mapper>
